{% extends 'base.html' %}

{% block title %}Add Author{% endblock %}

{% block content %}
    <h1>Добавить автора</h1>
    <form action="{{ url_for('add_author') }}" method="POST">
        <div>
            <label for="name">Имя автора:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="surname">Фамилия автора:</label>
            <input type="text" id="surname" name="surname" required>
        </div>
        <button type="submit">Добавить</button>
    </form>
{% endblock %}

