{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="home-container">
        <h1>Добро пожаловать в Library Management System</h1>
        <p>Эта система облегчит контроль и управление выдачей книг студентам.</p>
        <a href="{{ url_for('books') }}" class="btn">Посмотреть книги</a>
        <a href="{{ url_for('debtors') }}" class="btn">Кто должен вернуть книги</a>
        <a href="{{ url_for('add_book') }}" class="btn">Добавить книгу</a>
    </div>
{% endblock %}
