{% extends "base.html" %}

{% block content %}
<div class="form-style-10">
    <h1>Add New Book<span>Fill in the fields below to add a new book to the database</span></h1>
    <form action="/books/form" method="post">
        <div class="section"><span>1</span>Book Title</div>
        <div class="inner-wrap">
            <label>Book Title<input type="text" name="book_title" required/></label>
        </div>

        <div class="section"><span>2</span>Author Name</div>
        <div class="inner-wrap">
            <label>Author Name<input type="text" name="author_name" required/></label>
        </div>

        <div class="button-section">
            <input type="submit" value="Add Book" />
        </div>
    </form>
</div>
{% endblock %}