<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('get_authors')}}">Authors</a></li>
                <li><a href="{{ url_for('books') }}">Books</a></li>
                <li><a href="{{ url_for('debtors') }}">Debtors</a></li>
                <li><a href="{{ url_for('get_students')}}">Students</a></li>
                <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
                <li><a href="{{ url_for('add_author')}}">Add Author</a></li>
                <li><a href="{{ url_for('add_student')}}">Add Student</a></li>
                <li><a href="{{ url_for('add_receiving_book')}}">Issue Book</a></li>
                <li><a href="{{ url_for('get_top_students')}}">Top Students</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Library Management System</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
